 
.register {
  padding: 16px;
  text-align: center;
} 
hr {
  border: 1px solid #630d2b;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #7e2451;
  color: rgb(251, 242, 242);
  padding: 16px 20px;
  border:none;
  cursor: pointer;
  width: 100%; 
}
a {
  color: rgb(128, 56, 73);
}
h1{
  background-color: #B6327D;
}
body{background-color: #EBBCD6;}
.register{
  border:
  3px
  solid
  #95165E;
}
input[type=text], input[type=password] {
  width: 20%;
  padding: 5px;
  margin: auto;
  border:#630d2b ;
}
 